
*{

  font-family: 'Poppins', sans-serif;

}
@media (max-width: 768px) {
    .text-section {
      text-align: center; /* Centra el texto en móviles */
      margin-bottom: 1rem;
    }
  }

.banner0{

  width: 100%;

}

.texto-overlay{
  position: absolute;
  left: 0;
  top: 30%;
  padding-left: 200px;
  max-width: 500px;
  display: block; 
  font-size: 18px;
  width: 80%;
  color: #D6E1EC !important;
  margin-left: 40px;
        
}

.carousel-caption h5 {

 font-family: popins;
 color: #FFF !important;
 font-size: clamp(1.2rem, 2.5vw + 0.5rem, 2.5rem);
}
.carousel-caption p{
    font-size: 1em;
    font-family: popins;
    color: #FFF;

}

h5{
  font-size: 36px;
    font-weight: 600;
    text-align: left;
   
}

p{
  font-size: 24px;
    text-align: left;
 
}



.carousel-caption {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
   
}
#botónExploraAhora {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.activo {
  background-color: #021E2A; /* Azul oscuro */
  color: white;
}

.inactivo {
  background-color: #153B4C; /* Gris */
  color: #fff;
}

/* Asegura el cambio de color en hover */
.activo:hover {
  background-color: #021E2A ;
}

.inactivo:hover {
  background-color: #153B4C;
}

.btn {
    
        background-color:#1F5673 !important;
        color: #fff; /* Blanco */
        padding: 5px 15px; /* Ajusta el padding para el tamaño */
        border: none;
        border-radius: 30px;
        font-size: 1em;
        cursor: pointer;
        transition:#1F5673 0.3s ease; 
        box-shadow: #4a859e /* Sombra */
      }
      
      .btn:hover {
        background-color: #386578; 
      }

      /* Estilos generales para los botones */

