.footer {
    background-color: #153B4C;
    color: white;
    padding: 15px;
}

.footer nav a {
    color: #D6E1EC;
    text-decoration: none;
    margin: 0 10px;
}

.footer nav a:hover {
    text-decoration: underline;
}