/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F7F9FB;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /*     max-width: 100%;
    margin: 0 auto;
    padding: 0 0px; */
}