
main{
    
        background-color: #E6EDF4;

}
.textoH1{

    color: #4a859e;
    text-align: center;
   
    
}
p{
    text-align: center;
    
}
section{
 align-items: center;

}


.imagenCarrousel  {
    width: 100%;
    max-width: 20rem;
    background-color: brown;
    padding-inline: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
   
}