/*Estilos Main About*/

main {
    max-width: 100% !important;
    margin: 0 auto !important;
    padding: 0 0px !important;
}

/* Estilos banner de iconos */
.valores-section {
    background-color: #A2B8C9;
    /* Color de fondo */
    padding: 20px;
    border-radius: 0;
    width: 100%;
    margin-top: 0;


}

.valor-icon {
    width: 50px;
    /* Tamaño del ícono */
    height: auto;
    margin-bottom: 10px;
}

.valores-section p {
    font-size: 18px;
    font-weight: 500;
    color: #153B4C;
}

h2 {
    color: #153B4C;
    font-weight: 600;
}

#letras_Baner {
    color: white;
}

/* mision-vision.css */
.mision-vision-section {
    font-family: 'Poppins', sans-serif;
    background-color: #D6E1EC;
    color: #153B4C;
    margin: 0 auto;
    padding: 40px;
    max-width: 100%;
}

.mision-vision-section .info-box {
    background-color: #A2B8C9;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.mision-vision-section .mision-vision-title {
    color: #153B4C;
    font-weight: 600;
}

.mision-vision-section .mision-vision-text {
    color: #153B4C;
    font-size: 16px;
    font-weight: 300;
}



/* about-us.css */
.about-section {
    font-family: 'Poppins', sans-serif;
    background-color: #D6E1EC;
    color: #153B4C;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 100%;
}

.about-title {
    color: #153B4C;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-text {
    color: #153B4C;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}


/* Estilos específicos para las cards */
.cards-section {
    font-family: 'Poppins', sans-serif;
    background-color: #D6E1EC;
    color: #153B4C;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 100%;


    .cards {
        width: 80%;
        margin: 0 auto;
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #D6E1EC;

    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 2px;
        border-radius: 12px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .card img {
        width: 100%;
        height: auto;
        border-radius: 12px 12px 0 0;
    }

    .card header {
        padding: 20px;
    }

    .card-title {
        color: #153B4C;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 10px;
    }

    .card-subtitle {
        color: #386578;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .card-text {
        color: #153B4C;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .card-link {
        color: #386578;
        text-decoration: none;
        margin-right: 10px;
    }

    .card-link:hover {
        text-decoration: underline;
    }

    .card:hover {
        transform: scale(1.05);
    }

    /* Responsive */
    @media (min-width: 576px) {
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: 768px) {
        .cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: 992px) {
        .cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (min-width: 1200px) {
        .cards {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}