*{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
h1{
  font-size: 32px;
  font-weight: 600;
  color:#153B4C;
  text-align: center;
}


#botónExploraAhora {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.activo {
  background-color: #021E2A; /* Azul oscuro */
  color: white;
}

.inactivo {
  background-color: #153B4C; /* Gris */
  color: #fff;
}
/* Estilos generales para los botones */
.btn {
    
  background-color: #021E2A;
  color: #fff; /* Blanco */
  padding: 5px 15px; /* Ajusta el padding para el tamaño */
  border: none;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  transition:#1F5673 0.3s ease; 
  box-shadow: #4a859e /* Sombra */
}

.btn:hover {
  background-color: #386578; 
}

/*Carrusel Logotipos*/

.slider{
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slider-track{
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite; /para que la animación funcione en todos los navegadores/
  width: calc(200px * 24); /calcular alguna operación que realicemos/
}

.slider .slide{
  width: 200px;
}

.slider .slide img {
  width: 100%; /valor que se tiene en su contenedor/
}

@keyframes scroll {
  0%{
    -webkit-transform: translatex(0);
    transform: translatex(0);

  }
  100%{
    -webkit-transform: translatex(calc(-200px * 12)); 
    transform: translatex(calc(-200px * 12));

  }
}

/*Banner de beneficios*/
.beneficios{
  display: flex;
  width: 100%; 
  background-color: #A2B8C9;
  flex-direction: row-reverse;
  padding: 5% 10%;
}

.txt{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;

  & > h5{
    font-size: 32px;
    font-weight: 600;
    color: #021e2a;
  }
  & > p{
    font-size: 20px;
    color: #153B4C;
  }
}

.imagenSobrepuesta{
  width: 50%;  
}

/* Responsividad banner-beneficios*/
@media (max-width: 1024px) {
  .beneficios {
    position: relative;
    height: auto;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5% 5%;
    gap: 1rem;
  }

  .txt {
    width: 100%;
    align-items: left;
    text-align: left;
    gap: 1rem;
  }

  #botónExploraAhora{
    padding: 10px 20px;
    font-size: 14px;
  }

  .imagenSobrepuesta {
    width: 100%;
  }

  .imagenSobrepuesta img {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  
    & > h5 {
    font-size: 24px;
  }

   & > p {
    font-size: 14px;
  }

  #botónExploraAhora{
    padding: 8px 16px;
    font-size: 12px;
  }

  .imagenSobrepuesta img {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  & > h5 {
    font-size: 20px;
  }

  & > p {
    font-size: 12px;
  }
}

/*testimonios*/

.testimonios{
  position: relative;
  padding: 100px 0;
  gap: 40px;
}
.title{
    font-size: 32px;
    font-weight: 600;
    color:#153B4C;
    text-align: center;
    
}

.testimonials-item{
  background-color: #dde7ee;
  padding: 30px;
  border-radius: 16px;
  }
.testimonials-item .info{
  display: flex;
  align-items: center;
}
  .testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align:middle;
  }

.testimonials-item h3{
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: #386578;
  line-height: 1.2;
}
.testimonials-item p{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #021E2A;
}

.testimonials-item .rating{
  margin-top: 15px;
  font-size: 14px;
  color: #FFB828;
}

.testimonials .swiper-pagination{
  position: absolute;
  margin-top: 20px;
  bottom: auto;
  display: flex;
  gap: 10px;
}

.testimonials .swiper-pagination-bullet{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #386578;
  opacity: 0.7;
  transition: background-color 0.3 ease; 
}

/*productos nuevos*/
.ContainerproductosNuevos{
  display: flex;
  overflow: scroll;
  padding: 24px;
  width: 300px;
  height: 360px;
  scroll-snap-type: x mandatory ;
  scroll-padding: 24px;
  border-radius: 16px;
  gap: 12px;
  margin: 2rem auto;
}

.ContainerproductosNuevos .slider-item{
  flex: 0 0 100%;
  padding: 24px;
  border-radius: 16px;
  scroll-snap-align: start;
  }

  *{
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    margin: 0%;
  }
  
  /* banner principal */
  .carousel-content {
    display: flex;
    width: 100%; 
    padding: 5% 10%;
  }
  /* banner principal */
  .text-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  
    & > h2{
      font-size: 32px;
      font-weight: 600;
      color: #dde7ee;
    }
    & > p{
      font-size: 20px;
      color: #dde7ee;
    }
  
  }
  /* estilos primer slice */
  .carousel-item:nth-child(1) {
    background-color: #386578; 
    color: white;
    min-height: 500px;
  }
  /*  estilos segundo slice banner  */
  .carousel-item:nth-child(2) {
    background-color: #153B4C; 
    color: white;
    min-height: 500px;
  }
  /* estilos tercer slice banner */
  .carousel-item:nth-child(3) {
    background-color: #A2B8C9; 
    color: white;
    min-height: 500px;    
  }
  
  .image-content img {
    max-height: 100%; 
    object-fit: cover;
    width: 50%; 
  }
  
  /* Estilos para móvil */
  @media (max-width: 768px) {
    .carousel-content {
    position: relative;
    height: auto;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5% 5%;
    gap: 1rem;
    }
    .text-content {
    order: 1;
    width: 100%;
    align-items: left;
    text-align: left;
    gap: 1rem;
    }
    .image-content {
        order: 2;
    }
  }
  /* boton banner  */
  .btn-custom {
  
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s, opacity 0.3s; 
  }
  
  /* Estilos de los tres botones */
  .btn-dark {
    background-color: #021E2A; /* Azul oscuro */
    color: white;
  }
  
  .btn-light {
    background-color: #0c0d0e; /* Azul grisáceo */
    color: white;
    opacity: 0.6; /* Simulación de estado deshabilitado */
  }
  
  .btn-medium {
    background-color: #153B4C; /* Azul intermedio */
    color: white;
  }
  
  /* Efecto hover (solo para los botones activos)  banner */
  .btn-dark:hover,
  .btn-medium:hover {
    opacity: 0.8;
  }