*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  h1{
    font-size: 32px;
    font-weight: 600;
    color:#153B4C;
    text-align: center;
  }
  
  
  #botónExploraAhora {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .activo {
    background-color: #021E2A; /* Azul oscuro */
    color: white;
  }
  
  .inactivo {
    background-color: #153B4C; /* Gris */
    color: #fff;
  }
  /* Estilos generales para los botones */
  .btn {
      
    background-color: #021E2A;
    color: #fff; /* Blanco */
    padding: 5px 15px; /* Ajusta el padding para el tamaño */
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    transition:#1F5673 0.3s ease; 
    box-shadow: #4a859e /* Sombra */
  }
  
  .btn:hover {
    background-color: #386578; 
  }
  
  /*Carrusel Logotipos*/
  
  .slider{
    width: 150vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-bottom: 100px;
  }
  
  .slider .slider-track{
    display: flex;
    gap: 2rem;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite; 
    width: calc(300px * 24); 
  }
  
  .slider .slide{
    width: 200px;
  }
  
  .slider .slide img {
    max-width: 100%; 
    height: 50px;
  }
  
  @keyframes scroll {
    0%{
      -webkit-transform: translatex(0);
      transform: translatex(0);
  
    }
    100%{
      -webkit-transform: translatex(calc(-200px * 12)); 
      transform: translatex(calc(-200px * 12));
  
    }
  }
  /*aqui termina el carrusel infinito de logos*/
  
  /*Banner de beneficios*/
  .beneficios{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 500px;
    max-width: 1512px;
    background-color: #dde7ee;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  .txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    max-width: 490px;
  
    & > h5{
      font-size: 32px;
      font-weight: 600;
      color: #021e2a;
    }
    & > p{
      font-size: 18px;
      color: #153B4C;
    }
  }
  
  .imagenSobrepuesta {
    width: 40%;
    max-width: 497px;  /* Limitamos el tamaño máximo */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 229px;
  }
  
  .imagenSobrepuesta img {
    width: 100%;  /* La imagen ocupa todo el ancho del contenedor */
    max-width: 497px;  /* Tamaño máximo para evitar imágenes muy grandes */
    height: auto;  /* Mantiene la proporción */
    object-fit: contain;
  }
  
  
  /* Responsividad banner-beneficios*/
  @media (max-width: 1024px) {
    .beneficios {
      position: relative;
      height: auto;
      margin: auto;
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 5% 5%;
      gap: 1rem;
      margin-bottom: 25px;
    }
  
    .txt {
      width: 100%;
      align-items: left;
      text-align: left;
      gap: 1rem;
    }
  
    #botónExploraAhora{
      padding: 10px 20px;
      font-size: 14px;
    }
  
    .imagenSobrepuesta {
      width: 100%;
    }
  
    .imagenSobrepuesta img {
      max-width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    
      & > h5 {
      font-size: 24px;
    }
  
     & > p {
      font-size: 14px;
    }
  
    #botónExploraAhora{
      padding: 8px 16px;
      font-size: 12px;
    }
  
    .imagenSobrepuesta img {
      max-width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    & > h5 {
      font-size: 20px;
    }
  
    & > p {
      font-size: 12px;
    }
  }
  /*aqui termina el banner de beneficios*/
  
  /*testimonios*/
  
  .testimonios{
    position: relative;
    padding: 100px 0;
    gap: 40px;
    margin-bottom: 100px;
  }
  .title{
      font-size: 32px;
      font-weight: 600;
      color:#153B4C;
      text-align: center;
      
  }
  
  .testimonials-item{
    background-color: #dde7ee;
    padding: 30px;
    border-radius: 16px;
    }
  .testimonials-item .info{
    display: flex;
    align-items: center;
  }
    .testimonials-item img{
      max-width: 80px;
      border-radius: 50%;
      margin-right: 20px;
      vertical-align:middle;
    }
  
  .testimonials-item h3{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: #386578;
    line-height: 1.2;
  }
  .testimonials-item p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #021E2A;
  }
  
  .testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: #FFB828;
  }
  
  .testimonials .swiper-pagination{
    position: absolute;
    margin-top: 20px;
    bottom: auto;
    display: flex;
    gap: 10px;
  }
  
  .testimonials .swiper-pagination-bullet{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #386578;
    opacity: 0.7;
    transition: background-color 0.3 ease; 
  }
  /*aqui terminan los testimonios*/
  
  /*productos nuevos*/
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  h1{
    margin: 0;
  }
  
  .boton-texto{
    background: none;
    border: none;
    color: #4a859e;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .ContainerproductosNuevos{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 24px;
   max-width: 1250px;
    height: 600px;
    scroll-snap-type: x mandatory ;
    scroll-padding: 2px;
    border-radius: 16px;
    gap: 12px;
    margin: 2rem auto;
    margin-bottom: 100px;
  }
  
  .ContainerproductosNuevos .slider-item{
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    width: 357px;
    padding: 24px;
    border-radius: 16px;
    scroll-snap-align: start;
    }
  
    .slider-item img{
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  
    *{
      font-family: 'Poppins', sans-serif;
      padding: 0%;
      margin: 0%;
    }
  
    @media (max-width: 768px){
      .ContainerproductosNuevos .slider-item {
        flex: 0 0 calc(100% / 2- 12px);
        max-width: calc(100% / 2- 12px);
      }
  
      @media (max-width: 480px){
        .ContainerproductosNuevos .slider-item {
          flex: 0 0 100%;
          max-width: 100%;
        }
    }
  }
  /*aqui terminan los productos nuevos*/
    
  /* banner principal */
    .carousel-content {
      display: flex;
      max-width: 100%; 
      padding: 5% 10%;
      height: 500px;
    }
  
    .text-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 40px;
    
      & > h2{
        font-size: 32px;
        font-weight: 600;
        color: #dde7ee;
      }
      & > p{
        font-size: 18px;
        color: #dde7ee;
      }
    
    }
  
  /* banner principal */
  .carousel-content {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 500px; /* Ajusta la altura del carrusel */
  }
  /* banner principal */
  .text-content {
    padding: 18px;
    text-align: left;
  
  }
  /* estilos primer slice */
  .carousel-item:nth-child(1) {
    background-color: #386578; /* Azul oscuro */
    color: white;
    min-height: 500px;
  }
  /*  estilos segundo slice banner  */
  .carousel-item:nth-child(2) {
    background-color: #153B4C; /* Azul medio */
    color: black;
    min-height: 500px;
  }
  /* estilos tercer slice banner */
  .carousel-item:nth-child(3) {
    background-color: #A2B8C9; /* Azul claro */
    color: white;
    min-height: 500px;
  }
  
  .image-content img {
    max-height: 100%;
    object-fit: cover;
  }
  
  .negrita{
    
    color: black;
  }
    
    /* Estilos para móvil */
    @media (max-width: 768px) {
      .carousel-content {
      position: relative;
      height: auto;
      margin: 2rem;
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 5% 5%;
      gap: 1rem;
      }
      .text-content {
      order: 1;
      width: 100%;
      align-items: left;
      text-align: left;
      gap: 1rem;
      }
      .image-content {
          order: 2;
      }
    }
    /* boton banner  */
    .btn-custom {
    
      display: inline-block;
      padding: 12px 24px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 30px;
      text-align: center;
      text-decoration: none;
      border: none;
      cursor: pointer;
      transition: background 0.3s, opacity 0.3s; 
    }
    
    /* Estilos de los tres botones */
    .btn-dark {
      background-color: #021E2A; /* Azul oscuro */
      color: white;
    }
    
    .btn-light {
      background-color: #0c0d0e; /* Azul grisáceo */
      color: white;
      opacity: 0.6; /* Simulación de estado deshabilitado */
    }
    
    .btn-medium {
      background-color: #153B4C; /* Azul intermedio */
      color: white;
    }
    
    /* Efecto hover (solo para los botones activos)  banner */
    .btn-dark:hover,
    .btn-medium:hover {
      opacity: 0.8;
    }
  
     /* aqui termina el  banner principal*/
  
  /* servicio */
  
  .servicios{
      display: flex;
      justify-content: center; /* Centra horizontalmente */
      align-items: center; /* Centra verticalmente (si el contenedor tiene altura definida) */
      flex-wrap: wrap; /* Permite que las tarjetas se acomoden en varias líneas */
      gap: 20px; /* Espacio entre tarjetas */
  
  
  }
  .servicios{
    
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Columnas flexibles en PC */
    gap: 10px; /* Espacio entre tarjetas */
    text-align: center;
    padding: 20px;
  }
    
    /* Estilo de las tarjetas */
    .imagen-animada {
      background: #f0f0f0;
      padding: 40px; /* Tamaño grande en PC */
      border-radius: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      transition: all 0.3s ease-in-out; /* Transición suave */
    }
    
    /* Versión móvil */
    @media (max-width: 800px) {
      .servicios {
        grid-template-columns: repeat(2, minmax(110px, 1fr)); /* 2 columnas en móvil */
        gap: 10px;
      }
    
      .imagen-animada {
        padding: 5px; /* Reducimos el tamaño en móvil */
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
       
      }
    }
    
  
  
  
     /* metodo de pago */
     .payment-methods {
      text-align: center;
      padding: 20px;
      margin-bottom: 100px;
    }
    
    .payment-logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 100px; /* Espacio entre imágenes */
    }
    
    .payment-logos img {
      width: 120px; /* Tamaño base en PC */
      height: auto;
      max-width: 100%;
      transition: all 0.3s ease-in-out; /* Efecto suave */
    }
    
    /* Versión móvil */
    @media (max-width: 768px) {
      .payment-logos img {
        width: 50px; /* Reducimos tamaño en móviles */
      }
    }
    
    
   /* aqui termina metodo de pago  */