
*{

  font-family: 'Poppins', sans-serif;
}


.banner{

  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image:url(/assets/imagenes/background1.webp);
  /*flex-direction: column;
  background-image:url(/assets/imagenes/background1.webp);
  background-size: cover;*/
}
.carousel-caption{
  text-align: left;
  left: 10%;
  right: auto;
}
h5{
  text-align: left;
  font-size: 2em;
  margin-bottom: 15%;
  
}
.carousel-caption p{
  font-size: 1.2em;
  

}

.section-title{
  font-size: 2em;
  text-align: center;
}

.servicios{
  background-color: #D6E1EC;

}

.contenido{

  flex-direction:column-reverse;
  margin-right: 35px;
  padding: 300px;
  text-align: left;
  justify-content: center;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 50%;
  text-align: left;*/
  
}

#img_sobrepuesta{

  width: 80%;
  vertical-align: middle;

  /*max-width: 68rem;
  display: flex;
  align-items: center;
  width: 80%;
  overflow: hidden;*/
 
  
 
}


@media(max-width:768px){
  .banner{
    background-size: contain;
  }
}














#botónExploraAhora {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.activo {
  background-color: #021E2A; /* Azul oscuro */
  color: white;
}

.inactivo {
  background-color: #153B4C; /* Gris */
  color: #fff;
}

/* Asegura el cambio de color en hover */
.activo:hover {
  background-color: #021E2A ;
}

.inactivo:hover {
  background-color: #153B4C;
}

.btn {
    
        background-color: #021E2A;
        color: #fff; /* Blanco */
        padding: 5px 15px; /* Ajusta el padding para el tamaño */
        border: none;
        border-radius: 30px;
        font-size: 1em;
        cursor: pointer;
        transition:#1F5673 0.3s ease; 
        box-shadow: #4a859e /* Sombra */
      }
      
      .btn:hover {
        background-color: #386578; 
      }

      /* Estilos generales para los botones */

