
*{

  font-family: 'Poppins', sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1{
  font-size: 32px;
  color:#153B4C;
  text-align: center;
}


/*banner carrusel*/
.carousel-caption{
  width: 50%;
  display: block;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  & > h5{
    font-size: 32px;
    font-weight: 600;
    color: #021E2A;
  }

  & > p{
    font-family: 16px;
    color: #153B4C;

  }
  
}




#botónExploraAhora {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.activo {
  background-color: #021E2A; /* Azul oscuro */
  color: white;
}

.inactivo {
  background-color: #153B4C; /* Gris */
  color: #fff;
}

/* Asegura el cambio de color en hover */
.activo:hover {
  background-color: #021E2A ;
}

.inactivo:hover {
  background-color: #153B4C;
}

.btn {
    
        background-color: #021E2A;
        color: #fff; /* Blanco */
        padding: 5px 15px; /* Ajusta el padding para el tamaño */
        border: none;
        border-radius: 30px;
        font-size: 1em;
        cursor: pointer;
        transition:#1F5673 0.3s ease; 
        box-shadow: #4a859e /* Sombra */
      }
      
      .btn:hover {
        background-color: #386578; 
      }

      /* Estilos generales para los botones */


      /*Carrusel Logotipos*/

      .slider{
        width: 75vw;
        height: auto;
        margin: auto;
        overflow: hidden;
      }

      .slider .slider-track{
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite; /*para que la animación funcione en todos los navegadores*/
        width: calc(200px * 24); /*calcular alguna operación que realicemos*/
      }

      .slider .slide{
        width: 200px;
      }

      .slider .slide img {
        width: 100%; /*valor que se tiene en su contenedor*/
      }

      @keyframes scroll {
        0%{
          -webkit-transform: translatex(0);
          transform: translatex(0);

        }
        100%{
          -webkit-transform: translatex(calc(-200px * 12)); 
          transform: translatex(calc(-200px * 12));

        }
      }



/* Banner de beneficios */
.beneficios {
  display: flex;
  width: 100%;
  background-color: #A2B8C9;
  flex-direction: row-reverse;
  padding: 5% 10%;
}

/* Contenedor de texto */
.texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.texto h5 {
  font-size: 32px;
  font-weight: 600;
  color: #021E2A;
}

.texto p {
  font-size: 16px;
  color: #153B4C;
}

.imagenSobrepuesta {
  width: 50%;
  display: flex;
  justify-content: center;
}

.imagenSobrepuesta img {
  max-width: 100%;
  height: auto;
}

/* Responsividad */
@media (max-width: 1024px) {
  .beneficios {
    position: relative;
    height: auto;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5% 5%;
    gap: 1rem;
  }

  .texto {
    width: 100%;
    align-items: left;
    text-align: left;
    gap: 10px;
  }

  #botónExploraAhora{
    padding: 10px 20px;
    font-size: 14px;
  }

  .imagenSobrepuesta {
    width: 100%;
  }

  .imagenSobrepuesta img {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .texto h5 {
    font-size: 24px;
  }

  .texto p {
    font-size: 14px;
  }

  #botónExploraAhora{
    padding: 8px 16px;
    font-size: 12px;
  }

  .imagenSobrepuesta img {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .texto h5 {
    font-size: 20px;
  }

  .texto p {
    font-size: 12px;
  }

  #botónExploraAhora{
    padding: 6px 14px;
    font-size: 10px;
  }

  .imagenSobrepuesta img {
    max-width: 100%;
  }
}


/*testimonios*/

.container{
  max-width: 1170px;
  margin: auto;
  padding:0;
}

/*header-testimonios*/
.section-header{
  text-align: center;
  margin-bottom: 50px;

}
.section-header .title{
  font-family: 32px;
  font-weight: 600;
  color: #021E2A;
  text-transform: capitalize;
  line-height: 1.2;
}
/*testimonios*/

.testimonios{
  position: relative;
  padding: 100px 0;
}

.testimonials-item{
  background-color: #dde7ee;
  padding: 30px;
  border-radius: 16px;
  }
.testimonials-item .info{
  display: flex;
  align-items: center;
}
  .testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align:middle;
  }

.testimonials-item h3{
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: #386578;
  line-height: 1.2;
}
.testimonials-item p{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #021E2A;
}

.testimonials-item .rating{
  margin-top: 15px;
  font-size: 14px;
  color: #FFB828;
}

.testimonials .swiper-pagination{
  position: absolute;
  margin-top: 20px;
  bottom: auto;
  display: flex;
  gap: 10px;
}

.testimonials .swiper-pagination-bullet{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #386578;
  opacity: 0.7;
  transition: background-color 0.3 ease; 
}

